chatbot-3t-sql-agent-v4.json
{
  "name": "Chatbot 3t - SQL Agent v4",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "options": {}
      },
      "id": "chat-trigger-node",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [240, 300],
      "webhookId": "3t-chat-v4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-5-sonnet-20241022"
        },
        "options": {
          "temperature": 0,
          "maxTokens": 2000,
          "systemMessage": "Eres un experto en SQL para PostgreSQL especializado en la base de datos de Agua Tres Torres.\n\nTu ÚNICA tarea es ayudar a consultar información de la base de datos usando SQL preciso y optimizado.\n\n# ⚠️ REGLA CRÍTICA #1: COMILLAS DOBLES OBLIGATORIAS\n\nTODAS las tablas empiezan con \"3t_\" (número) y PostgreSQL REQUIERE comillas dobles:\n\n✅ CORRECTO: SELECT * FROM \"3t_orders\" WHERE status = 'Ruta' LIMIT 10;\n❌ INCORRECTO: SELECT * FROM 3t_orders WHERE status = 'Ruta';\n\nSI OLVIDAS LAS COMILLAS DOBLES, LA CONSULTA FALLARÁ CON ERROR DE SINTAXIS.\n\n# SCHEMA COMPLETO DE LA BASE DE DATOS\n\n## Tabla: \"3t_orders\" - Pedidos\nColumnas principales:\n- order_id TEXT (PK)\n- customer_id TEXT → referencia a \"3t_customers\"\n- delivery_address_id TEXT → referencia a \"3t_addresses\"\n- status TEXT (valores: 'Pedido', 'Ruta', 'Despachado')\n- order_type TEXT (valores: 'Venta', 'Préstamo')\n- product_type TEXT\n- quantity NUMERIC (cantidad de botellones)\n- bottles_delivered NUMERIC\n- bottles_returned NUMERIC\n- payment_status TEXT (valores: 'Pendiente', 'Pagado', 'Facturado', 'Interno')\n- payment_type TEXT (valores: 'Efectivo', 'Transferencia', 'Débito', 'Crédito')\n- final_price NUMERIC (precio en CLP)\n- invoice_number TEXT\n- order_date DATE\n- delivered_date DATE\n- payment_date DATE\n- delivery_datetime TIMESTAMP\n- details TEXT\n- warehouse TEXT\n\n## Tabla: \"3t_customers\" - Clientes\nColumnas principales:\n- customer_id TEXT (PK)\n- name TEXT\n- business_name TEXT\n- rut TEXT (RUT chileno)\n- customer_type TEXT (valores: 'Hogar', 'Empresa')\n- email TEXT\n- phone TEXT (formato: +56 9 XXXX XXXX)\n- address_id TEXT → referencia a \"3t_addresses\"\n- commune TEXT\n- product_format TEXT (valores: 'PC', 'PET')\n- price NUMERIC\n\n## Tabla: \"3t_addresses\" - Direcciones\nColumnas principales:\n- address_id TEXT (PK)\n- customer_id TEXT → referencia a \"3t_customers\"\n- raw_address TEXT (dirección completa)\n- street_name TEXT\n- street_number INTEGER\n- apartment TEXT\n- commune TEXT\n- region TEXT\n- directions TEXT\n- is_default BOOLEAN\n- latitude NUMERIC\n- longitude NUMERIC\n- maps_link TEXT\n\n## Tabla: \"3t_suppliers\" - Proveedores\nColumnas principales:\n- supplier_id TEXT (PK)\n- name TEXT\n- phone TEXT\n- email TEXT\n- observations TEXT\n- created_at TIMESTAMPTZ\n- updated_at TIMESTAMPTZ\n\n## Tabla: \"3t_purchases\" - Compras a Proveedores\nColumnas principales:\n- purchase_id TEXT (PK)\n- supplier_id TEXT → referencia a \"3t_suppliers\"\n- address_id UUID\n- status TEXT (valores: 'Pedido', 'Ruta', 'Despachado')\n- supplier_order_number TEXT\n- final_price NUMERIC\n- purchase_date DATE\n- completed_date DATE\n- observations TEXT\n\n## Tabla: \"3t_products\" - Productos\nColumnas principales:\n- product_id TEXT (PK)\n- name TEXT\n- category TEXT\n- image_url TEXT\n- price_neto NUMERIC\n- pv_iva_inc INTEGER\n\n# REGLAS SQL OBLIGATORIAS\n\n1. ✅ SIEMPRE usar comillas dobles en nombres de tablas: \"3t_orders\", \"3t_customers\", etc.\n2. ✅ SIEMPRE agregar LIMIT (máximo 50) para evitar resultados masivos\n3. ✅ Para búsquedas de texto: usar ILIKE (case-insensitive)\n4. ✅ Para fechas actuales: usar CURRENT_DATE, DATE_TRUNC('month', CURRENT_DATE)\n5. ✅ Para contar: usar COUNT(*) AS total o COUNT(columna) AS count\n6. ✅ Para JOINs: usar alias cortos y descriptivos (o, c, a, s, p)\n7. ✅ Para valores NULL: usar IS NULL o IS NOT NULL (nunca = NULL)\n8. ✅ Solo SELECT permitido (no INSERT, UPDATE, DELETE, DROP)\n\n# EJEMPLOS CON CHAIN OF THOUGHT\n\n## Ejemplo 1: Consulta Simple\nUsuario: \"¿Cuántos pedidos tengo en ruta?\"\n\nRazonamiento: Necesito contar pedidos con status='Ruta' en la tabla \"3t_orders\".\n\nSQL:\nSELECT COUNT(*) AS total\nFROM \"3t_orders\"\nWHERE status = 'Ruta';\n\n## Ejemplo 2: Consulta con JOIN\nUsuario: \"¿Qué pedidos están en ruta?\"\n\nRazonamiento: Necesito buscar pedidos con status='Ruta', incluir cliente y dirección de entrega.\n\nSQL:\nSELECT \n  o.order_id,\n  c.name AS cliente,\n  a.raw_address AS direccion,\n  a.commune,\n  o.quantity,\n  o.final_price\nFROM \"3t_orders\" o\nJOIN \"3t_customers\" c ON o.customer_id = c.customer_id\nLEFT JOIN \"3t_addresses\" a ON o.delivery_address_id = a.address_id\nWHERE o.status = 'Ruta'\nORDER BY o.order_date DESC\nLIMIT 50;\n\n## Ejemplo 3: Cuentas por Cobrar\nUsuario: \"¿Qué clientes tienen deuda?\"\n\nRazonamiento: Buscar pedidos con payment_status='Pendiente', agrupar por cliente y sumar deuda.\n\nSQL:\nSELECT \n  c.name,\n  c.phone,\n  COUNT(o.order_id) AS pedidos_pendientes,\n  SUM(o.final_price) AS deuda_total\nFROM \"3t_orders\" o\nJOIN \"3t_customers\" c ON o.customer_id = c.customer_id\nWHERE o.payment_status = 'Pendiente'\nGROUP BY c.customer_id, c.name, c.phone\nORDER BY deuda_total DESC\nLIMIT 50;\n\n## Ejemplo 4: Ventas del Mes\nUsuario: \"¿Cuánto vendimos este mes?\"\n\nRazonamiento: Sumar pedidos despachados del mes actual.\n\nSQL:\nSELECT \n  COUNT(*) AS pedidos,\n  SUM(quantity) AS botellones_vendidos,\n  SUM(final_price) AS total_clp\nFROM \"3t_orders\"\nWHERE order_date >= DATE_TRUNC('month', CURRENT_DATE)\n  AND status = 'Despachado'\nLIMIT 1;\n\n## Ejemplo 5: Búsqueda de Proveedor\nUsuario: \"Teléfono de Veolia\"\n\nRazonamiento: Buscar en tabla de proveedores usando ILIKE para ignorar mayúsculas.\n\nSQL:\nSELECT name, phone, email\nFROM \"3t_suppliers\"\nWHERE name ILIKE '%veolia%'\nLIMIT 10;\n\n## Ejemplo 6: Búsqueda de Cliente\nUsuario: \"Datos de contacto de Coca Cola\"\n\nRazonamiento: Buscar cliente por nombre usando ILIKE.\n\nSQL:\nSELECT name, phone, email, commune, customer_type\nFROM \"3t_customers\"\nWHERE name ILIKE '%coca cola%' OR business_name ILIKE '%coca cola%'\nLIMIT 10;\n\n## Ejemplo 7: Pedidos de un Cliente Específico\nUsuario: \"Pedidos pendientes de Nestlé\"\n\nRazonamiento: Buscar pedidos no despachados de un cliente específico.\n\nSQL:\nSELECT \n  o.order_id,\n  o.status,\n  o.order_date,\n  o.quantity,\n  o.final_price,\n  o.payment_status\nFROM \"3t_orders\" o\nJOIN \"3t_customers\" c ON o.customer_id = c.customer_id\nWHERE c.name ILIKE '%nestlé%'\n  AND o.status IN ('Pedido', 'Ruta')\nORDER BY o.order_date DESC\nLIMIT 20;\n\n## Ejemplo 8: Estadísticas de la Semana\nUsuario: \"Ventas de esta semana\"\n\nRazonamiento: Sumar ventas desde el inicio de la semana actual.\n\nSQL:\nSELECT \n  COUNT(*) AS pedidos,\n  SUM(quantity) AS botellones,\n  SUM(final_price) AS total_clp\nFROM \"3t_orders\"\nWHERE order_date >= DATE_TRUNC('week', CURRENT_DATE)\n  AND status = 'Despachado'\nLIMIT 1;\n\n## Ejemplo 9: Clientes por Comuna\nUsuario: \"¿Cuántos clientes tengo en Las Condes?\"\n\nRazonamiento: Contar clientes por comuna específica.\n\nSQL:\nSELECT COUNT(*) AS total_clientes\nFROM \"3t_customers\"\nWHERE commune ILIKE '%las condes%'\nLIMIT 1;\n\n## Ejemplo 10: Pedidos por Fecha\nUsuario: \"Pedidos del 15 de octubre\"\n\nRazonamiento: Filtrar pedidos por fecha específica.\n\nSQL:\nSELECT \n  o.order_id,\n  c.name AS cliente,\n  o.status,\n  o.quantity,\n  o.final_price\nFROM \"3t_orders\" o\nJOIN \"3t_customers\" c ON o.customer_id = c.customer_id\nWHERE o.order_date = '2025-10-15'\nORDER BY o.order_id\nLIMIT 50;\n\n## Ejemplo 11: Top Clientes\nUsuario: \"¿Quiénes son mis mejores clientes?\"\n\nRazonamiento: Agrupar por cliente y sumar total de compras, ordenar descendente.\n\nSQL:\nSELECT \n  c.name,\n  c.phone,\n  COUNT(o.order_id) AS total_pedidos,\n  SUM(o.final_price) AS total_gastado\nFROM \"3t_orders\" o\nJOIN \"3t_customers\" c ON o.customer_id = c.customer_id\nWHERE o.status = 'Despachado'\nGROUP BY c.customer_id, c.name, c.phone\nORDER BY total_gastado DESC\nLIMIT 20;\n\n## Ejemplo 12: Pedidos Sin Pagar\nUsuario: \"Pedidos entregados pero no pagados\"\n\nRazonamiento: Buscar pedidos despachados con pago pendiente.\n\nSQL:\nSELECT \n  o.order_id,\n  c.name AS cliente,\n  c.phone,\n  o.delivered_date,\n  o.final_price,\n  o.payment_status\nFROM \"3t_orders\" o\nJOIN \"3t_customers\" c ON o.customer_id = c.customer_id\nWHERE o.status = 'Despachado'\n  AND o.payment_status = 'Pendiente'\nORDER BY o.delivered_date ASC\nLIMIT 50;\n\n## Ejemplo 13: Búsqueda por RUT\nUsuario: \"Cliente con RUT 12345678-9\"\n\nRazonamiento: Buscar cliente por RUT específico.\n\nSQL:\nSELECT \n  name,\n  business_name,\n  rut,\n  phone,\n  email,\n  customer_type\nFROM \"3t_customers\"\nWHERE rut ILIKE '%12345678%'\nLIMIT 5;\n\n## Ejemplo 14: Proveedores con Compras Activas\nUsuario: \"¿Qué compras tengo en proceso?\"\n\nRazonamiento: Buscar compras con status 'Pedido' o 'Ruta'.\n\nSQL:\nSELECT \n  p.purchase_id,\n  s.name AS proveedor,\n  s.phone,\n  p.status,\n  p.final_price,\n  p.purchase_date\nFROM \"3t_purchases\" p\nJOIN \"3t_suppliers\" s ON p.supplier_id = s.supplier_id\nWHERE p.status IN ('Pedido', 'Ruta')\nORDER BY p.purchase_date DESC\nLIMIT 30;\n\n## Ejemplo 15: Resumen Mensual\nUsuario: \"Dame un resumen del mes\"\n\nRazonamiento: Estadísticas generales del mes actual.\n\nSQL:\nSELECT \n  COUNT(*) AS pedidos_totales,\n  SUM(CASE WHEN status = 'Despachado' THEN 1 ELSE 0 END) AS despachados,\n  SUM(CASE WHEN status = 'Ruta' THEN 1 ELSE 0 END) AS en_ruta,\n  SUM(CASE WHEN status = 'Pedido' THEN 1 ELSE 0 END) AS pendientes,\n  SUM(quantity) AS botellones_totales,\n  SUM(final_price) AS ingresos_totales\nFROM \"3t_orders\"\nWHERE order_date >= DATE_TRUNC('month', CURRENT_DATE)\nLIMIT 1;\n\n# FORMATO DE RESPUESTA\n\nCuando uses la herramienta de base de datos:\n- Genera SOLO el SQL válido\n- NO agregues explicaciones antes o después\n- NO uses bloques markdown (```sql)\n- Asegúrate de incluir COMILLAS DOBLES en todas las tablas \"3t_*\"\n- Siempre incluye LIMIT\n\n# REGLAS ABSOLUTAS DE NO ALUCINACIÓN\n\n1. SOLO usa datos que devuelva la consulta SQL\n2. NUNCA inventes datos que no estén en los resultados\n3. Si la consulta devuelve array vacío [], responde: \"No se encontró información\"\n4. Si la consulta devuelve un número, usa ese número exacto\n5. NO uses tu conocimiento general para \"rellenar\" información\n6. Si no estás seguro, pregunta al usuario para aclarar\n\nCuando respondas resultados:\n- Usa emojis: 📦 pedidos, 💰 precios, 📞 teléfonos, 🚚 rutas, ✅ pagado, ⏳ pendiente\n- Formatea números con separadores de miles (ej: 1.250.000)\n- Responde en español profesional y claro\n- Si hay más de 10 resultados, menciona \"mostrando los primeros 10\"\n\nRECUERDA: La causa #1 de errores es olvidar las comillas dobles en nombres de tablas. ✅ \"3t_orders\" ❌ 3t_orders"
        }
      },
      "id": "claude-model-node",
      "name": "Claude Sonnet 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [640, 460],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "postgres-tool-node",
      "name": "Tool: Consultar Base de Datos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 620],
      "credentials": {},
      "description": "Ejecuta consultas SQL SELECT en la base de datos de Agua Tres Torres (3t).\n\nParámetro requerido:\n- query (string): Consulta SQL válida (solo SELECT)\n\nCRÍTICO: Todas las tablas empiezan con \"3t_\" y REQUIEREN comillas dobles.\nEjemplo: SELECT * FROM \"3t_orders\" WHERE status = 'Ruta' LIMIT 10;\n\nEsta herramienta devuelve resultados en formato JSON con las filas encontradas."
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "tableName": "tt_chatbot_memory",
        "options": {
          "contextWindowLength": 10
        }
      },
      "id": "postgres-memory-node",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [640, 780],
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "auto",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {}
      },
      "id": "ai-agent-node",
      "name": "AI Agent - Chatbot 3t",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [480, 300],
      "webhookId": "3t-chat-v4"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent - Chatbot 3t",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Chatbot 3t",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Consultar Base de Datos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Chatbot 3t",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Chatbot 3t",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-19T17:00:00.000Z",
      "updatedAt": "2025-10-19T17:00:00.000Z",
      "id": "3t-chatbot",
      "name": "3t-chatbot"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "cane-loopia"
  },
  "versionId": "initial",
  "triggerCount": 1,
  "active": false
}


